openapi: 3.1.0
info:
  title: COROC API
  version: 0.6.0
  summary: Gestión y cobro de préstamos personales
  description: |
    Contrato de la API de COROC (§24.1-3 del prompt maestro). Versión 0.6.0: operaciones de las fases 1 a 5 implementadas y verificadas
    contra este contrato en cada prueba (el servidor valida las peticiones con él y las pruebas validan las respuestas).

    **Convenciones**
    - Dinero: enteros en la unidad mínima de la moneda (`COP` = peso, `BRL`/`USD` = centavo). Nunca decimales binarios.
    - Tasas: texto decimal (`"0.02"` equivale a dos por ciento).
    - Fechas civiles `YYYY-MM-DD` en la zona horaria de la empresa; instantes en ISO 8601 con zona.
    - Errores con `application/problem+json` (RFC 9457).
    - Toda petición autenticada opera dentro de la empresa del token; la base de datos aplica Row Level Security.
    - Idempotencia: las operaciones que crean movimientos contables aceptan el encabezado `Idempotency-Key`.
    - Concurrencia optimista: los recursos editables exponen `version`; enviar `If-Match` con ese valor.
    - Tiempo real: `GET /events` (Server-Sent Events) emite `payment.posted`, `payment.reversed`, `loan.created`, `document.created`, `dashboard.changed`, `intake.updated`, `message.updated` y `whatsapp.suspended`.
  contact:
    name: COROC
  license:
    name: Propietaria
    identifier: LicenseRef-COROC-Proprietary
servers:
  - url: https://api.coroc.app/v1
    description: Producción
  - url: http://localhost:3000/v1
    description: Desarrollo local
security:
  - bearerAuth: []
tags:
  - name: auth
    description: Ingreso, segundo factor, sesiones y recuperación de contraseña
  - name: company
    description: Empresa, configuración y cuentas receptoras
  - name: users
    description: Usuarios y roles
  - name: clients
    description: Clientes y consentimientos
  - name: loans
    description: Préstamos, plan de pagos y libro
  - name: payments
    description: Pagos y reversos
  - name: documents
    description: Repositorio documental
  - name: intake
    description: Recepción multicanal y bandeja de validación
  - name: messaging
    description: Mensajería y plantillas
  - name: compliance
    description: Topes de tasa y reglas de contacto
  - name: dashboard
    description: Indicadores y eventos en tiempo real
  - name: reports
    description: Informes PDF, CSV y XLSX
  - name: backup
    description: Respaldo y restauración
  - name: public
    description: Portal del deudor y verificación de recibos (sin sesión)
  - name: support
    description: Soporte — cola de fallidos, reintentos y traza de un comprobante (Fase 5)
  - name: webhooks
    description: Eventos entrantes de WhatsApp y correo

paths:
  /auth/login:
    post:
      tags: [auth]
      operationId: login
      summary: Ingreso con usuario y contraseña
      description: Bloqueo progresivo tras 5 intentos fallidos (15 min). Si el usuario tiene TOTP, responde `mfa_required`.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [tenant, username, password, deviceId]
              properties:
                tenant: { type: string, description: Identificador corto de la empresa, maxLength: 40 }
                username: { type: string, maxLength: 32 }
                password: { type: string, format: password, maxLength: 128 }
                deviceId: { type: string, minLength: 8, maxLength: 120 }
                deviceName: { type: string, maxLength: 120 }
      responses:
        '200':
          description: Sesión iniciada o segundo factor requerido
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/Session'
                  - type: object
                    required: [mfa_required, challengeId]
                    properties:
                      mfa_required: { type: boolean, const: true }
                      challengeId: { type: string }
        '401': { $ref: '#/components/responses/Problem' }
        '423': { $ref: '#/components/responses/Problem' }
  /auth/mfa:
    post:
      tags: [auth]
      operationId: verifyMfa
      summary: Verificar código TOTP
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [challengeId, code]
              properties:
                challengeId: { type: string }
                code: { type: string, pattern: '^[0-9]{6}$' }
      responses:
        '200':
          description: Sesión iniciada
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Session' }
        '401': { $ref: '#/components/responses/Problem' }
  /auth/refresh:
    post:
      tags: [auth]
      operationId: refresh
      summary: Renovar tokens (rotación del token de renovación)
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [refreshToken, deviceId]
              properties:
                refreshToken: { type: string }
                deviceId: { type: string }
      responses:
        '200':
          description: Nuevos tokens
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Session' }
        '401': { $ref: '#/components/responses/Problem' }
  /auth/logout:
    post:
      tags: [auth]
      operationId: logout
      summary: Cerrar la sesión actual
      responses:
        '204': { description: Sesión cerrada }
        '4XX': { $ref: '#/components/responses/Problem' }
  /auth/password/forgot:
    post:
      tags: [auth]
      operationId: forgotPassword
      summary: Enviar enlace de recuperación de un solo uso (30 min)
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [tenant, username]
              properties:
                tenant: { type: string }
                username: { type: string }
      responses:
        '202': { description: 'Si el usuario existe, se envió el correo' }
        '4XX': { $ref: '#/components/responses/Problem' }
  /auth/password/reset:
    post:
      tags: [auth]
      operationId: resetPassword
      summary: Crear una contraseña nueva con el enlace de recuperación (un solo uso, 30 min)
      description: Cierra todas las sesiones del usuario.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [token, password]
              properties:
                token: { type: string }
                password: { type: string, format: password, minLength: 12, maxLength: 128 }
      responses:
        '204': { description: Contraseña cambiada }
        '4XX': { $ref: '#/components/responses/Problem' }
  /me:
    get:
      tags: [auth]
      operationId: me
      summary: Usuario actual y permisos
      responses:
        '200':
          description: Usuario
          content:
            application/json:
              schema: { $ref: '#/components/schemas/User' }
        '4XX': { $ref: '#/components/responses/Problem' }
    patch:
      tags: [auth]
      operationId: updateMe
      summary: Preferencias del usuario (idioma §6, apariencia §5.4, bloqueo por inactividad §7.1)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                lang: { $ref: '#/components/schemas/Lang' }
                theme: { type: string, enum: [system, light, dark] }
                name: { type: string, minLength: 1, maxLength: 120 }
                autoLockMinutes: { type: integer, minimum: 1, maximum: 60 }
                email: { type: [string, 'null'], format: email }
      responses:
        '200':
          description: Usuario actualizado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/User' }
        '4XX': { $ref: '#/components/responses/Problem' }
    delete:
      tags: [auth]
      operationId: deleteMyAccount
      summary: Eliminar la propia cuenta (se anonimiza; el Propietario cierra la empresa)
      description: 'Exigido por App Store y Google Play. El usuario queda como «Usuario eliminado» en los movimientos que registró, que siguen siendo prueba contable. El Propietario recibe 409 OWNER_MUST_CLOSE_COMPANY.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [password]
              properties:
                password: { type: string, minLength: 1, maxLength: 200 }
      responses:
        '204': { description: Cuenta eliminada; todas sus sesiones quedan cerradas }
        '4XX': { $ref: '#/components/responses/Problem' }
  /me/password:
    post:
      tags: [auth]
      operationId: changePassword
      summary: Cambiar la contraseña (cierra las demás sesiones)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [currentPassword, newPassword]
              properties:
                currentPassword: { type: string, format: password, maxLength: 128 }
                newPassword: { type: string, format: password, minLength: 12, maxLength: 128 }
      responses:
        '204': { description: Contraseña cambiada }
        '4XX': { $ref: '#/components/responses/Problem' }
  /me/mfa/enroll:
    post:
      tags: [auth]
      operationId: enrollMfa
      summary: Iniciar la verificación en dos pasos (TOTP); obligatoria para el Propietario
      responses:
        '200':
          description: Secreto para la app autenticadora
          content:
            application/json:
              schema: { $ref: '#/components/schemas/MfaEnrollment' }
        '4XX': { $ref: '#/components/responses/Problem' }
  /me/mfa/confirm:
    post:
      tags: [auth]
      operationId: confirmMfa
      summary: Confirmar con el primer código; devuelve tokens con el segundo factor activo
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [code]
              properties:
                code: { type: string, pattern: '^[0-9]{6}$' }
      responses:
        '200':
          description: Sesión con segundo factor
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Session' }
        '4XX': { $ref: '#/components/responses/Problem' }
  /me/mfa:
    delete:
      tags: [auth]
      operationId: disableMfa
      summary: Desactivar el segundo factor (no disponible para el Propietario)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [code]
              properties:
                code: { type: string, pattern: '^[0-9]{6}$' }
      responses:
        '204': { description: Desactivado }
        '4XX': { $ref: '#/components/responses/Problem' }
  /me/sessions:
    get:
      tags: [auth]
      operationId: mySessions
      summary: Sesiones abiertas del usuario por dispositivo
      responses:
        '200':
          description: Sesiones
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/SessionInfo' }
        '4XX': { $ref: '#/components/responses/Problem' }
  /me/sessions/{id}:
    delete:
      tags: [auth]
      operationId: revokeMySession
      summary: Cerrar una sesión propia en otro dispositivo
      parameters: [{ $ref: '#/components/parameters/Id' }]
      responses:
        '204': { description: Cerrada }
        '4XX': { $ref: '#/components/responses/Problem' }

  /company:
    get:
      tags: [company]
      operationId: getCompany
      summary: Datos y configuración de la empresa
      responses:
        '200':
          description: Empresa
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Company' }
        '4XX': { $ref: '#/components/responses/Problem' }
    patch:
      tags: [company]
      operationId: updateCompany
      summary: Actualizar datos o configuración (rol Propietario o Administrador)
      parameters: [{ $ref: '#/components/parameters/IfMatch' }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CompanyPatch' }
      responses:
        '200':
          description: Empresa actualizada
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Company' }
        '409': { $ref: '#/components/responses/Problem' }
  /receiving-accounts:
    get:
      tags: [company]
      operationId: listReceivingAccounts
      summary: Cuentas receptoras usadas para validar comprobantes (§13.4)
      responses:
        '200':
          description: Cuentas
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/ReceivingAccount' }
        '4XX': { $ref: '#/components/responses/Problem' }
    post:
      tags: [company]
      operationId: addReceivingAccount
      summary: Agregar cuenta receptora
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ReceivingAccount' }
      responses:
        '201':
          description: Creada
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ReceivingAccount' }
        '4XX': { $ref: '#/components/responses/Problem' }
  /receiving-accounts/{id}:
    delete:
      tags: [company]
      operationId: deactivateReceivingAccount
      summary: Desactivar cuenta receptora (no se borra)
      parameters: [{ $ref: '#/components/parameters/Id' }]
      responses:
        '204': { description: Desactivada }
        '4XX': { $ref: '#/components/responses/Problem' }

  /company/closure:
    post:
      tags: [company]
      operationId: closeCompany
      summary: Cerrar la empresa y eliminar la cuenta del Propietario
      description: 'Cierra todas las sesiones y bloquea el ingreso. Pasado el plazo de gracia (30 días) soporte purga los datos personales, conservando solo lo que la ley obliga a guardar.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [password, confirmSlug]
              properties:
                password: { type: string, minLength: 1, maxLength: 200 }
                confirmSlug: { type: string, minLength: 1, maxLength: 40, description: 'Identificador de la empresa, escrito para confirmar' }
      responses:
        '202':
          description: Cierre registrado
          content:
            application/json:
              schema:
                type: object
                required: [closureRequestedAt, purgeAfter]
                properties:
                  closureRequestedAt: { type: string, format: date-time }
                  purgeAfter: { type: string, format: date-time }
        '4XX': { $ref: '#/components/responses/Problem' }
  /company/whatsapp:
    get:
      tags: [company]
      operationId: getWhatsAppAccount
      summary: Número de WhatsApp Business de la empresa para recibir comprobantes (§12.1)
      responses:
        '200':
          description: Configuración (el token de acceso nunca se devuelve)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/WhatsAppAccount' }
        '4XX': { $ref: '#/components/responses/Problem' }
    put:
      tags: [company]
      operationId: saveWhatsAppAccount
      summary: Conectar o actualizar el número (id del número en Meta y token de acceso, que se guarda cifrado)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [phoneNumberId, accessToken]
              additionalProperties: false
              properties:
                phoneNumberId: { type: string, pattern: '^[0-9]{5,30}$' }
                accessToken: { type: string, minLength: 20, maxLength: 1000 }
                displayNumber: { type: string, maxLength: 30 }
                wabaId: { type: string, pattern: '^[0-9]{5,30}$', description: 'Id de la cuenta de WhatsApp Business (avisos de suspensión, CA-20)' }
      responses:
        '200':
          description: Guardado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/WhatsAppAccount' }
        '4XX': { $ref: '#/components/responses/Problem' }
    delete:
      tags: [company]
      operationId: deleteWhatsAppAccount
      summary: Desconectar el número
      responses:
        '204': { description: Desconectado }
        '4XX': { $ref: '#/components/responses/Problem' }
  /company/whatsapp/mode:
    put:
      tags: [company, messaging]
      operationId: setWhatsAppMode
      summary: Modo de envío de WhatsApp (§11.1) — asistido o automático con la Cloud API
      description: |
        Activar la Cloud API exige el número conectado con el id de la cuenta, el servidor configurado y la lista de
        verificación completa, y solo lo puede hacer el Propietario: la Política de Mensajería de WhatsApp Business prohíbe
        la cobranza de deudas y los préstamos entre pares. La aceptación queda en la bitácora. Si Meta suspende la cuenta,
        COROC vuelve solo al modo asistido (CA-20).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [mode]
              additionalProperties: false
              properties:
                mode: { type: string, enum: [assisted, cloud_api] }
                checklist:
                  type: object
                  additionalProperties: false
                  properties:
                    businessVerified: { type: boolean }
                    dedicatedNumber: { type: boolean }
                    templatesApproved: { type: boolean }
                    legalReview: { type: boolean }
                    policyAccepted: { type: boolean }
      responses:
        '200':
          description: Modo aplicado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/WhatsAppAccount' }
        '4XX': { $ref: '#/components/responses/Problem' }
  /company/email-sender:
    get:
      tags: [company, messaging]
      operationId: getEmailSender
      summary: Remitente de correo de la empresa y estado de SPF, DKIM y DMARC (§11.2)
      responses:
        '200':
          description: Remitente
          content:
            application/json:
              schema: { $ref: '#/components/schemas/EmailSender' }
        '4XX': { $ref: '#/components/responses/Problem' }
    put:
      tags: [company, messaging]
      operationId: saveEmailSender
      summary: Remitente propio con el dominio de la empresa (hay que verificarlo de nuevo)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [fromEmail]
              additionalProperties: false
              properties:
                fromEmail: { type: string, format: email, maxLength: 254 }
                fromName: { type: string, maxLength: 80 }
                dkimSelector: { type: string, maxLength: 63, description: Selector que entrega el proveedor de correo para la clave DKIM }
      responses:
        '200':
          description: Guardado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/EmailSender' }
        '4XX': { $ref: '#/components/responses/Problem' }
    delete:
      tags: [company, messaging]
      operationId: deleteEmailSender
      summary: Volver al remitente de COROC
      responses:
        '204': { description: Eliminado }
        '4XX': { $ref: '#/components/responses/Problem' }
  /company/email-sender/verify:
    post:
      tags: [company, messaging]
      operationId: verifyEmailSender
      summary: Consultar el DNS del dominio (asistente de SPF, DKIM y DMARC)
      responses:
        '200':
          description: Resultado con los registros esperados y encontrados
          content:
            application/json:
              schema: { $ref: '#/components/schemas/EmailSender' }
        '4XX': { $ref: '#/components/responses/Problem' }
  /users:
    get:
      tags: [users]
      operationId: listUsers
      summary: Usuarios de la empresa
      responses:
        '200':
          description: Usuarios
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/User' }
        '4XX': { $ref: '#/components/responses/Problem' }
    post:
      tags: [users]
      operationId: createUser
      summary: Crear usuario (Propietario o Administrador)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [username, name, role, password]
              properties:
                username: { type: string, pattern: '^[a-z0-9._-]{3,32}$' }
                name: { type: string, minLength: 1, maxLength: 120 }
                role: { $ref: '#/components/schemas/Role' }
                password: { type: string, format: password, minLength: 12, maxLength: 128 }
                email: { type: string, format: email }
                lang: { $ref: '#/components/schemas/Lang' }
      responses:
        '201':
          description: Usuario creado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/User' }
        '422': { $ref: '#/components/responses/Problem' }
  /users/{id}:
    patch:
      tags: [users]
      operationId: updateUser
      summary: Activar, desactivar o cambiar rol
      parameters: [{ $ref: '#/components/parameters/Id' }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                active: { type: boolean }
                role: { $ref: '#/components/schemas/Role' }
                name: { type: string, minLength: 1, maxLength: 120 }
                email: { type: [string, 'null'], format: email }
      responses:
        '200':
          description: Actualizado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/User' }
        '4XX': { $ref: '#/components/responses/Problem' }
    delete:
      tags: [users]
      operationId: deleteUser
      summary: Eliminar a un usuario (se anonimiza y se cierran sus sesiones)
      parameters: [{ $ref: '#/components/parameters/Id' }]
      responses:
        '204': { description: Usuario eliminado }
        '4XX': { $ref: '#/components/responses/Problem' }
  /users/{id}/sessions:
    delete:
      tags: [users]
      operationId: revokeSessions
      summary: Cerrar remotamente todas las sesiones del usuario
      parameters: [{ $ref: '#/components/parameters/Id' }]
      responses:
        '204': { description: Sesiones revocadas }
        '4XX': { $ref: '#/components/responses/Problem' }

  /clients:
    get:
      tags: [clients]
      operationId: listClients
      summary: Buscar y paginar clientes (el Cobrador solo ve los asignados)
      parameters:
        - { name: q, in: query, schema: { type: string }, description: 'Nombre, código, contrato o teléfono' }
        - { name: status, in: query, schema: { type: string, enum: [current, overdue, closed] } }
        - { name: frequency, in: query, schema: { $ref: '#/components/schemas/Frequency' } }
        - { name: collectorId, in: query, schema: { type: string, format: uuid } }
        - { $ref: '#/components/parameters/Cursor' }
        - { $ref: '#/components/parameters/Limit' }
      responses:
        '200':
          description: Página de clientes
          content:
            application/json:
              schema:
                type: object
                required: [items]
                properties:
                  items:
                    type: array
                    items: { $ref: '#/components/schemas/ClientListItem' }
                  nextCursor: { type: [string, 'null'] }
        '4XX': { $ref: '#/components/responses/Problem' }
    post:
      tags: [clients]
      operationId: createClientWithLoan
      summary: Asistente «Nuevo cliente» (§8.3)
      description: |
        Crea el cliente y su primer préstamo en una sola transacción. Genera el plan de pagos, la carpeta del cliente,
        el PDF del plan y, si hay consentimiento, encola el mensaje de bienvenida sujeto a las reglas de contacto.
        Rechaza el préstamo si la tasa efectiva anual supera el tope legal vigente (§9.6).
      parameters: [{ $ref: '#/components/parameters/IdempotencyKey' }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [client, loan]
              properties:
                client: { $ref: '#/components/schemas/ClientInput' }
                loan: { $ref: '#/components/schemas/LoanInput' }
                acknowledgeDuplicate: { type: boolean, default: false }
      responses:
        '201':
          description: Cliente y préstamo creados
          content:
            application/json:
              schema:
                type: object
                properties:
                  client: { $ref: '#/components/schemas/Client' }
                  loan: { $ref: '#/components/schemas/Loan' }
        '409': { $ref: '#/components/responses/Problem' }
        '422': { $ref: '#/components/responses/Problem' }
  /clients/{id}:
    get:
      tags: [clients]
      operationId: getClient
      summary: Ficha del cliente
      parameters: [{ $ref: '#/components/parameters/Id' }]
      responses:
        '200':
          description: Cliente
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Client' }
        '404': { $ref: '#/components/responses/Problem' }
    patch:
      tags: [clients]
      operationId: updateClient
      summary: Editar cliente (renombra su carpeta si cambia el nombre)
      parameters: [{ $ref: '#/components/parameters/Id' }, { $ref: '#/components/parameters/IfMatch' }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ClientInput' }
      responses:
        '200':
          description: Actualizado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Client' }
        '409': { $ref: '#/components/responses/Problem' }
  /clients/{id}/consents:
    post:
      tags: [clients]
      operationId: grantConsent
      summary: Registrar autorización (opt-in) por canal
      parameters: [{ $ref: '#/components/parameters/Id' }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ConsentInput' }
      responses:
        '201':
          description: Registrado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Consent' }
        '4XX': { $ref: '#/components/responses/Problem' }
  /clients/{id}/consents/{channel}:
    delete:
      tags: [clients]
      operationId: revokeConsent
      summary: Revocar autorización (opt-out) de inmediato
      parameters:
        - { $ref: '#/components/parameters/Id' }
        - { name: channel, in: path, required: true, schema: { type: string, enum: [whatsapp, email, personal_data] } }
      responses:
        '204': { description: Revocado }
        '4XX': { $ref: '#/components/responses/Problem' }

  /clients/{id}/contact-exception:
    put:
      tags: [clients, compliance]
      operationId: setContactException
      summary: Excepción horaria autorizada por escrito por el deudor (§11.4)
      description: La evidencia es un documento del cliente, distinto del contrato y posterior a él. Las franjas aplican solo a ese deudor.
      parameters: [{ $ref: '#/components/parameters/Id' }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [windows, documentId]
              additionalProperties: false
              properties:
                windows:
                  type: array
                  minItems: 1
                  maxItems: 21
                  items: { $ref: '#/components/schemas/ContactWindow' }
                documentId: { type: string, format: uuid }
      responses:
        '200':
          description: Excepción registrada
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ContactException' }
        '4XX': { $ref: '#/components/responses/Problem' }
    delete:
      tags: [clients, compliance]
      operationId: removeContactException
      summary: Quitar la excepción horaria
      parameters: [{ $ref: '#/components/parameters/Id' }]
      responses:
        '204': { description: Quitada }
        '4XX': { $ref: '#/components/responses/Problem' }
  /loans/preview:
    post:
      tags: [loans]
      operationId: previewLoan
      summary: Vista previa en vivo del plan de pagos, tasa efectiva anual y control de tope (§8.3)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/LoanTerms' }
      responses:
        '200':
          description: Plan calculado (no se guarda nada)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/LoanPreview' }
        '422': { $ref: '#/components/responses/Problem' }
  /clients/{id}/loans:
    post:
      tags: [loans]
      operationId: createLoan
      summary: Nuevo préstamo (renovación) para un cliente existente
      parameters: [{ $ref: '#/components/parameters/Id' }, { $ref: '#/components/parameters/IdempotencyKey' }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/LoanInput' }
      responses:
        '201':
          description: Préstamo creado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Loan' }
        '422': { $ref: '#/components/responses/Problem' }
  /loans/{id}:
    get:
      tags: [loans]
      operationId: getLoan
      summary: Préstamo con resumen derivado del libro
      parameters: [{ $ref: '#/components/parameters/Id' }]
      responses:
        '200':
          description: Préstamo
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Loan' }
        '4XX': { $ref: '#/components/responses/Problem' }
  /loans/{id}/schedule:
    get:
      tags: [loans]
      operationId: getSchedule
      summary: Cuadro de inversión y pagos (§10)
      parameters: [{ $ref: '#/components/parameters/Id' }]
      responses:
        '200':
          description: Cuotas con su estado y soportes
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/InstallmentState' }
        '4XX': { $ref: '#/components/responses/Problem' }
  /loans/{id}/ledger:
    get:
      tags: [loans]
      operationId: getLedger
      summary: Libro de movimientos del préstamo
      parameters: [{ $ref: '#/components/parameters/Id' }]
      responses:
        '200':
          description: Movimientos
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/LedgerEntry' }
        '4XX': { $ref: '#/components/responses/Problem' }
  /loans/{id}/payments:
    post:
      tags: [payments]
      operationId: postPayment
      summary: Registrar un pago manual o en efectivo (§14)
      description: Transacción atómica. Aplica según §9.5, emite el recibo (§15) y encola su envío respetando §11.4.
      parameters: [{ $ref: '#/components/parameters/Id' }, { $ref: '#/components/parameters/IdempotencyKey' }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/PaymentInput' }
      responses:
        '201':
          description: Pago registrado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PaymentResult' }
        '409': { $ref: '#/components/responses/Problem' }
        '422': { $ref: '#/components/responses/Problem' }
  /loans/{id}/payments/preview:
    post:
      tags: [payments]
      operationId: previewPayment
      summary: Vista previa de la cobertura exacta de un pago, sin registrarlo
      parameters: [{ $ref: '#/components/parameters/Id' }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [amount, date]
              properties:
                amount: { $ref: '#/components/schemas/Minor' }
                date: { type: string, format: date }
      responses:
        '200':
          description: Resultado que tendría el pago
          content:
            application/json:
              schema:
                type: object
                properties:
                  lines: { type: array, items: { $ref: '#/components/schemas/AllocationLine' } }
                  coverage: { type: string }
                  previousBalance: { $ref: '#/components/schemas/Minor' }
                  newBalance: { $ref: '#/components/schemas/Minor' }
                  remainingInstallments: { type: integer }
                  surplus: { $ref: '#/components/schemas/Minor' }
                  loanClosed: { type: boolean }
        '4XX': { $ref: '#/components/responses/Problem' }
  /loans/{id}/payments/{entryId}/reversal:
    post:
      tags: [payments]
      operationId: reversePayment
      summary: Reversar un pago (roles Propietario y Administrador)
      description: Crea un contramovimiento con motivo y marca el recibo como ANULADO. Nunca borra.
      parameters:
        - { $ref: '#/components/parameters/Id' }
        - { name: entryId, in: path, required: true, schema: { type: string, format: uuid } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [reason]
              properties:
                reason: { type: string, minLength: 3 }
      responses:
        '201':
          description: Reverso registrado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ReversalResult' }
        '409': { $ref: '#/components/responses/Problem' }
  /loans/{id}/receipts:
    get:
      tags: [payments]
      operationId: listReceipts
      summary: Recibos emitidos del préstamo, incluidos los anulados
      parameters: [{ $ref: '#/components/parameters/Id' }]
      responses:
        '200':
          description: Recibos
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/ReceiptRecord' }
        '4XX': { $ref: '#/components/responses/Problem' }
  /loans/{id}/statements:
    post:
      tags: [documents]
      operationId: requestStatement
      summary: Estado de cuenta en PDF, en el idioma del deudor (§16.4). Se genera en segundo plano
      parameters: [{ $ref: '#/components/parameters/Id' }]
      responses:
        '202':
          description: Tarea en cola; seguirla con `GET /tasks/{id}`
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Task' }
        '4XX': { $ref: '#/components/responses/Problem' }
  /loans/{id}/upload-link:
    get:
      tags: [intake]
      operationId: getUploadLink
      summary: Enlace personal de carga vigente del préstamo (§12.3)
      parameters: [{ $ref: '#/components/parameters/Id' }]
      responses:
        '200':
          description: Enlace vigente
          content:
            application/json:
              schema: { $ref: '#/components/schemas/UploadLink' }
        '4XX': { $ref: '#/components/responses/Problem' }
    post:
      tags: [intake]
      operationId: rotateUploadLink
      summary: Crear o rotar el enlace personal de carga del deudor (§12.3)
      description: Revoca el enlace anterior al instante. El enlace identifica al remitente, así que el comprobante queda vinculado a este préstamo.
      parameters: [{ $ref: '#/components/parameters/Id' }]
      responses:
        '201':
          description: Enlace nuevo
          content:
            application/json:
              schema: { $ref: '#/components/schemas/UploadLink' }
        '4XX': { $ref: '#/components/responses/Problem' }
    delete:
      tags: [intake]
      operationId: revokeUploadLink
      summary: Revocar el enlace personal de carga
      parameters: [{ $ref: '#/components/parameters/Id' }]
      responses:
        '204': { description: Revocado }
        '4XX': { $ref: '#/components/responses/Problem' }

  /documents:
    get:
      tags: [documents]
      operationId: listDocuments
      summary: Repositorio documental (§16.1) con filtros, búsqueda por texto y etiquetas
      description: El Cobrador solo ve los documentos de sus clientes (RLS). Sin `includeSuperseded` solo vienen las versiones vigentes.
      parameters:
        - { name: clientId, in: query, schema: { type: string, format: uuid } }
        - { name: loanId, in: query, schema: { type: string, format: uuid } }
        - { name: kind, in: query, schema: { $ref: '#/components/schemas/DocKind' } }
        - { name: from, in: query, schema: { type: string, format: date } }
        - { name: to, in: query, schema: { type: string, format: date } }
        - { name: q, in: query, schema: { type: string, maxLength: 120 }, description: Búsqueda sin tildes en el nombre y el texto leído }
        - { name: tag, in: query, schema: { type: string, maxLength: 40 } }
        - { name: includeSuperseded, in: query, schema: { type: boolean } }
        - { $ref: '#/components/parameters/Cursor' }
        - { $ref: '#/components/parameters/Limit' }
      responses:
        '200':
          description: Página de documentos, del más reciente al más antiguo
          content:
            application/json:
              schema:
                type: object
                required: [items, nextCursor]
                properties:
                  items: { type: array, items: { $ref: '#/components/schemas/Document' } }
                  nextCursor: { type: [string, 'null'] }
        '4XX': { $ref: '#/components/responses/Problem' }
  /documents/{id}:
    get:
      tags: [documents]
      operationId: getDocument
      summary: Documento con todas sus versiones (la vigente primero)
      parameters: [{ $ref: '#/components/parameters/Id' }]
      responses:
        '200':
          description: Documento
          content:
            application/json:
              schema:
                allOf:
                  - { $ref: '#/components/schemas/Document' }
                  - type: object
                    required: [versions]
                    properties:
                      versions: { type: array, items: { $ref: '#/components/schemas/Document' } }
        '4XX': { $ref: '#/components/responses/Problem' }
    patch:
      tags: [documents]
      operationId: updateDocument
      summary: Cambiar las etiquetas. El archivo nunca se modifica (§16.1)
      parameters: [{ $ref: '#/components/parameters/Id' }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [tags]
              additionalProperties: false
              properties:
                tags: { type: array, maxItems: 20, items: { type: string, minLength: 1, maxLength: 40 } }
      responses:
        '200':
          description: Documento actualizado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Document' }
        '4XX': { $ref: '#/components/responses/Problem' }
  /documents/{id}/link:
    post:
      tags: [documents]
      operationId: createDocumentLink
      summary: Enlace firmado de corta duración para ver, descargar o compartir el archivo
      parameters: [{ $ref: '#/components/parameters/Id' }]
      responses:
        '200':
          description: Enlace
          content:
            application/json:
              schema: { $ref: '#/components/schemas/FileLink' }
        '4XX': { $ref: '#/components/responses/Problem' }
  /clients/{id}/documents:
    post:
      tags: [documents]
      operationId: uploadDocument
      summary: Carga manual al repositorio del cliente (§12.6)
      description: 'El cuerpo es el archivo (PDF, JPG, PNG, WEBP o HEIC; máximo 25 MB). El tipo se reconoce por el contenido, no por la extensión.'
      parameters:
        - { $ref: '#/components/parameters/Id' }
        - { name: loanId, in: query, schema: { type: string, format: uuid } }
        - { name: kind, in: query, schema: { type: string, enum: [other, receipt_in] } }
        - { name: name, in: query, schema: { type: string, maxLength: 160 } }
        - { name: tags, in: query, schema: { type: string, maxLength: 400 }, description: Etiquetas separadas por comas }
      requestBody:
        required: true
        content:
          application/octet-stream:
            schema: { type: string, contentMediaType: application/octet-stream }
      responses:
        '201':
          description: Documento guardado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Document' }
        '4XX': { $ref: '#/components/responses/Problem' }
  /folder/manifest:
    get:
      tags: [documents]
      operationId: getFolderManifest
      summary: Manifiesto de la carpeta COROC (§16.2–16.3) para el espejo local de las apps
      description: Sin `since` trae todo lo vigente; con `since` solo lo que cambió (incluidos los archivos reemplazados que el espejo debe retirar). Se pagina por documentos con `after`.
      parameters:
        - { name: since, in: query, schema: { type: string, format: date-time } }
        - { name: after, in: query, schema: { type: string } }
        - { name: limit, in: query, schema: { type: integer, minimum: 1, maximum: 5000, default: 2000 } }
      responses:
        '200':
          description: Manifiesto
          content:
            application/json:
              schema: { $ref: '#/components/schemas/FolderManifest' }
        '4XX': { $ref: '#/components/responses/Problem' }
  /files/{token}:
    get:
      tags: [documents]
      operationId: downloadFile
      summary: Descarga con enlace firmado (sin sesión). Admite `Range` para reanudar
      security: []
      parameters:
        - { name: token, in: path, required: true, schema: { type: string, minLength: 20, maxLength: 600 } }
        - { name: download, in: query, schema: { type: string, enum: ['1'] } }
      responses:
        '200': { description: Archivo completo, content: { application/octet-stream: {} } }
        '206': { description: Rango del archivo, content: { application/octet-stream: {} } }
        '416': { description: Rango fuera del archivo }
        '4XX': { $ref: '#/components/responses/Problem' }
  /tasks/{id}:
    get:
      tags: [documents]
      operationId: getTask
      summary: Estado de una tarea de documentos (estado de cuenta, informe)
      parameters: [{ $ref: '#/components/parameters/Id' }]
      responses:
        '200':
          description: Tarea
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Task' }
        '4XX': { $ref: '#/components/responses/Problem' }

  /tasks/{id}/retry:
    post:
      tags: [support]
      operationId: retryTask
      summary: Reintentar desde cero una tarea de documentos fallida (los respaldos se vuelven a pedir)
      parameters: [{ $ref: '#/components/parameters/Id' }]
      responses:
        '202':
          description: Tarea de nuevo en cola
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Task' }
        '4XX': { $ref: '#/components/responses/Problem' }

  /support/failures:
    get:
      tags: [support]
      operationId: listFailures
      summary: Cola de fallidos para soporte — tareas de documentos, mensajes y comprobantes ilegibles
      description: 'Los detalles son técnicos y no contienen datos personales. Visible para Propietario, Administrador y Auditor.'
      parameters:
        - { name: days, in: query, schema: { type: integer, minimum: 1, maximum: 90, default: 30 } }
      responses:
        '200':
          description: Fallidos recientes
          content:
            application/json:
              schema:
                type: object
                required: [days, documentTasks, messages, intake]
                properties:
                  days: { type: integer }
                  documentTasks:
                    type: array
                    items:
                      allOf:
                        - { $ref: '#/components/schemas/Task' }
                        - type: object
                          required: [loanId, contract, attempts, detail, retryable]
                          properties:
                            loanId: { type: [string, 'null'], format: uuid }
                            contract: { type: [string, 'null'] }
                            attempts: { type: integer }
                            detail: { type: [string, 'null'] }
                            retryable: { type: boolean }
                  messages:
                    type: array
                    items:
                      type: object
                      required: [id, clientId, clientName, event, channel, attempts, detail, failedAt]
                      properties:
                        id: { type: string, format: uuid }
                        clientId: { type: string, format: uuid }
                        clientName: { type: string }
                        event: { type: string }
                        channel: { type: string }
                        attempts: { type: integer }
                        detail: { type: [string, 'null'] }
                        failedAt: { type: [string, 'null'], format: date-time }
                  intake:
                    type: array
                    items:
                      type: object
                      required: [id, channel, fileName, detail, createdAt]
                      properties:
                        id: { type: string, format: uuid }
                        channel: { type: string }
                        fileName: { type: [string, 'null'] }
                        detail: { type: [string, 'null'] }
                        createdAt: { type: string, format: date-time }
        '4XX': { $ref: '#/components/responses/Problem' }

  /intake/{id}/trace:
    get:
      tags: [support]
      operationId: traceIntake
      summary: Traza de un comprobante — recibido, leído, identificado, decidido, pago, recibo y entrega
      parameters: [{ $ref: '#/components/parameters/Id' }]
      responses:
        '200':
          description: Etapas con su hora
          content:
            application/json:
              schema:
                type: object
                required: [intakeId, status, steps, paymentSeconds, deliveredSeconds]
                properties:
                  intakeId: { type: string, format: uuid }
                  status: { type: string }
                  steps:
                    type: array
                    items:
                      type: object
                      required: [step, at, status, detail]
                      properties:
                        step: { type: string, enum: [received, read, identified, decided, payment, receipt, delivered] }
                        at: { type: [string, 'null'], format: date-time }
                        status: { type: string, enum: [done, pending, failed, skipped] }
                        detail: { type: [string, 'null'] }
                  paymentSeconds: { type: [integer, 'null'], description: Segundos desde que llegó hasta el pago registrado }
                  deliveredSeconds: { type: [integer, 'null'], description: Segundos desde que llegó hasta que salió el recibo }
        '4XX': { $ref: '#/components/responses/Problem' }

  /intake:
    post:
      tags: [intake]
      operationId: uploadIntake
      summary: Comprobante desde la app — «Compartir con COROC», carpeta vigilada o subida manual (§12.4–§12.6)
      description: 'El cuerpo es el archivo (PDF, JPG, PNG, WEBP o HEIC; máximo 25 MB). Con `clientId` o `loanId` el remitente queda identificado (carpeta del cliente o elección en la app). La lectura sigue en segundo plano; el resultado llega con el evento `intake.updated`.'
      parameters:
        - { name: channel, in: query, schema: { type: string, enum: [share, folder, upload], default: upload } }
        - { name: clientId, in: query, schema: { type: string, format: uuid } }
        - { name: loanId, in: query, schema: { type: string, format: uuid } }
        - { name: fileName, in: query, schema: { type: string, maxLength: 200 } }
        - { name: note, in: query, schema: { type: string, maxLength: 2000 } }
      requestBody:
        required: true
        content:
          application/octet-stream:
            schema: { type: string, contentMediaType: application/octet-stream }
      responses:
        '202':
          description: Recibido; en lectura
          content:
            application/json:
              schema: { $ref: '#/components/schemas/IntakeEvent' }
        '4XX': { $ref: '#/components/responses/Problem' }
    get:
      tags: [intake]
      operationId: listIntake
      summary: Bandeja de validación (§13.6)
      description: El Cobrador solo ve los comprobantes de sus clientes; «Sin asignar» es del Propietario y el Administrador.
      parameters:
        - { name: status, in: query, schema: { type: string, maxLength: 200 }, description: 'Estados separados por comas (p. ej. `review,unassigned`)' }
        - { name: channel, in: query, schema: { type: string, enum: [whatsapp, email, upload_link, share, folder, upload] } }
        - { name: clientId, in: query, schema: { type: string, format: uuid } }
        - { $ref: '#/components/parameters/Cursor' }
        - { $ref: '#/components/parameters/Limit' }
      responses:
        '200':
          description: Elementos, del más reciente al más antiguo
          content:
            application/json:
              schema:
                type: object
                required: [items, nextCursor]
                properties:
                  items:
                    type: array
                    items: { $ref: '#/components/schemas/IntakeEvent' }
                  nextCursor: { type: [string, 'null'] }
        '4XX': { $ref: '#/components/responses/Problem' }
  /intake/summary:
    get:
      tags: [intake]
      operationId: intakeSummary
      summary: Contadores de la Bandeja para la navegación (§13.6)
      responses:
        '200':
          description: Contadores
          content:
            application/json:
              schema: { $ref: '#/components/schemas/IntakeSummary' }
        '4XX': { $ref: '#/components/responses/Problem' }
  /intake/approve-batch:
    post:
      tags: [intake]
      operationId: approveIntakeBatch
      summary: Aprobación en lote de los elementos sin alertas bloqueantes (§13.6)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [ids]
              additionalProperties: false
              properties:
                ids: { type: array, minItems: 1, maxItems: 100, items: { type: string, format: uuid } }
      responses:
        '200':
          description: Resultado por elemento
          content:
            application/json:
              schema:
                type: object
                required: [approved, skipped]
                properties:
                  approved: { type: array, items: { type: string, format: uuid } }
                  skipped:
                    type: array
                    items:
                      type: object
                      required: [id, reason]
                      properties:
                        id: { type: string, format: uuid }
                        reason: { type: string }
        '4XX': { $ref: '#/components/responses/Problem' }
  /intake/{id}:
    get:
      tags: [intake]
      operationId: getIntake
      summary: Detalle del comprobante con los campos leídos, sus regiones y los clientes sugeridos
      parameters: [{ $ref: '#/components/parameters/Id' }]
      responses:
        '200':
          description: Comprobante
          content:
            application/json:
              schema: { $ref: '#/components/schemas/IntakeEvent' }
        '4XX': { $ref: '#/components/responses/Problem' }
  /intake/{id}/approve:
    post:
      tags: [intake]
      operationId: approveIntake
      summary: Corregir (si hace falta) y aprobar → registra el pago y emite el recibo
      description: 'Para reasignar, basta con enviar otro `clientId` y `loanId`. Cada corrección queda como ejemplo de la empresa (§13.6). Con `saveSenderAsSecondaryNumber` el número del remitente se guarda como secundario del cliente si aún no tiene uno (CA-08).'
      parameters: [{ $ref: '#/components/parameters/Id' }, { $ref: '#/components/parameters/IdempotencyKey' }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [clientId, loanId, amount, date]
              additionalProperties: false
              properties:
                clientId: { type: string, format: uuid }
                loanId: { type: string, format: uuid }
                amount: { $ref: '#/components/schemas/Minor' }
                date: { type: string, format: date }
                payerName: { type: string, maxLength: 200 }
                receiverName: { type: string, maxLength: 200 }
                reference: { type: string, maxLength: 120 }
                institution: { type: string, maxLength: 120 }
                saveSenderAsSecondaryNumber: { type: boolean, default: false }
      responses:
        '201':
          description: Pago registrado
          content:
            application/json:
              schema:
                allOf:
                  - { $ref: '#/components/schemas/PaymentResult' }
                  - type: object
                    required: [intakeId, senderSaved]
                    properties:
                      intakeId: { type: string, format: uuid }
                      senderSaved: { type: boolean }
        '409': { $ref: '#/components/responses/Problem' }
        '4XX': { $ref: '#/components/responses/Problem' }
  /intake/{id}/reject:
    post:
      tags: [intake]
      operationId: rejectIntake
      summary: Rechazar con motivo
      parameters: [{ $ref: '#/components/parameters/Id' }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [reason]
              additionalProperties: false
              properties:
                reason: { type: string, minLength: 1, maxLength: 500 }
      responses:
        '200':
          description: Rechazado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/IntakeEvent' }
        '4XX': { $ref: '#/components/responses/Problem' }
  /intake/{id}/archive:
    post:
      tags: [intake]
      operationId: archiveIntake
      summary: Marcar como «no es comprobante» y archivar en Otros documentos
      parameters: [{ $ref: '#/components/parameters/Id' }]
      responses:
        '200':
          description: Archivado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/IntakeEvent' }
        '4XX': { $ref: '#/components/responses/Problem' }
  /intake/{id}/revert:
    post:
      tags: [intake]
      operationId: revertAutoIntake
      summary: Revertir con un toque un registro automático dentro del plazo (por defecto 72 h)
      description: Registra el contramovimiento, anula el recibo y devuelve el comprobante a revisión. Pasado el plazo, solo el reverso formal con motivo.
      parameters: [{ $ref: '#/components/parameters/Id' }]
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                reason: { type: string, maxLength: 500 }
      responses:
        '200':
          description: Revertido y devuelto a revisión
          content:
            application/json:
              schema: { $ref: '#/components/schemas/IntakeEvent' }
        '409': { $ref: '#/components/responses/Problem' }
        '4XX': { $ref: '#/components/responses/Problem' }

  /messages:
    get:
      tags: [messaging]
      operationId: listMessages
      summary: Cola y bitácora de mensajes (por enviar, programados, bloqueados con la regla aplicada, historial)
      description: '`status` admite varios valores separados por coma. «Por enviar» y «programados» se ordenan por hora de envío; el resto, del más reciente al más antiguo.'
      parameters:
        - { name: status, in: query, schema: { type: string, pattern: '^[a-z,]{1,120}$' } }
        - { name: clientId, in: query, schema: { type: string, format: uuid } }
        - { name: channel, in: query, schema: { $ref: '#/components/schemas/Channel' } }
        - { name: event, in: query, schema: { $ref: '#/components/schemas/MessageEvent' } }
        - { $ref: '#/components/parameters/Cursor' }
        - { $ref: '#/components/parameters/Limit' }
      responses:
        '200':
          description: Mensajes
          content:
            application/json:
              schema:
                type: object
                required: [items, nextCursor]
                properties:
                  items:
                    type: array
                    items: { $ref: '#/components/schemas/Message' }
                  nextCursor: { type: [string, 'null'] }
        '4XX': { $ref: '#/components/responses/Problem' }
    post:
      tags: [messaging]
      operationId: composeMessage
      summary: Mensaje manual desde una plantilla o con texto propio (validador de contenido + reglas de contacto)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [loanId, event, channel]
              additionalProperties: false
              properties:
                loanId: { type: string, format: uuid }
                event: { $ref: '#/components/schemas/MessageEvent' }
                channel: { $ref: '#/components/schemas/Channel' }
                body: { type: string, minLength: 1, maxLength: 1024 }
      responses:
        '201':
          description: Mensaje creado con la decisión del motor (programado o bloqueado con la regla)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Message' }
        '422': { $ref: '#/components/responses/Problem' }
        '4XX': { $ref: '#/components/responses/Problem' }
  /messages/summary:
    get:
      tags: [messaging]
      operationId: messagesSummary
      summary: Contadores de la mensajería (insignia de «Por enviar hoy»)
      responses:
        '200':
          description: Contadores
          content:
            application/json:
              schema:
                type: object
                required: [ready, scheduled, blocked, failed, sentToday]
                properties:
                  ready: { type: integer }
                  scheduled: { type: integer }
                  blocked: { type: integer, description: Bloqueados en los últimos 7 días }
                  failed: { type: integer, description: Fallidos en los últimos 7 días }
                  sentToday: { type: integer, description: Enviados en las últimas 24 horas }
        '4XX': { $ref: '#/components/responses/Problem' }
  /messages/{id}/send:
    post:
      tags: [messaging]
      operationId: sendMessage
      summary: Enviar ya (modo automático) o marcar como enviado al abrir WhatsApp o el correo (modo asistido)
      description: Antes vuelve a aplicar las reglas de contacto; fuera de franja o con el cupo del día usado responde 409 y no se envía.
      parameters: [{ $ref: '#/components/parameters/Id' }]
      responses:
        '200':
          description: Resultado, con los enlaces listos del modo asistido
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Message' }
        '409': { $ref: '#/components/responses/Problem' }
        '4XX': { $ref: '#/components/responses/Problem' }
  /messages/{id}/cancel:
    post:
      tags: [messaging]
      operationId: cancelMessage
      summary: Descartar un mensaje pendiente
      parameters: [{ $ref: '#/components/parameters/Id' }]
      responses:
        '200':
          description: Cancelado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Message' }
        '4XX': { $ref: '#/components/responses/Problem' }
  /messages/{id}/retry:
    post:
      tags: [messaging]
      operationId: retryMessage
      summary: Reintentar un mensaje fallido o bloqueado (vuelve a pasar por todas las reglas)
      parameters: [{ $ref: '#/components/parameters/Id' }]
      responses:
        '200':
          description: Resultado del nuevo intento
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Message' }
        '4XX': { $ref: '#/components/responses/Problem' }
  /message-templates:
    get:
      tags: [messaging]
      operationId: listTemplates
      summary: Plantillas de los siete eventos en los tres idiomas y la configuración de cada evento
      responses:
        '200':
          description: Plantillas (las de COROC si la empresa no las personalizó)
          content:
            application/json:
              schema:
                type: object
                required: [templates, events]
                properties:
                  templates:
                    type: array
                    items: { $ref: '#/components/schemas/MessageTemplate' }
                  events:
                    type: array
                    items:
                      type: object
                      required: [event, kind, enabled, channels]
                      properties:
                        event: { $ref: '#/components/schemas/MessageEvent' }
                        kind: { type: string, enum: [collection, transactional] }
                        enabled: { type: boolean }
                        channels: { type: array, items: { $ref: '#/components/schemas/Channel' } }
        '4XX': { $ref: '#/components/responses/Problem' }
  /message-templates/{event}/{lang}:
    put:
      tags: [messaging]
      operationId: saveTemplate
      summary: Guardar plantilla (el validador bloquea amenazas, preguntar la causa del impago, terceros y datos sensibles)
      description: '`active: false` vuelve a la plantilla de COROC.'
      parameters:
        - { name: event, in: path, required: true, schema: { $ref: '#/components/schemas/MessageEvent' } }
        - { name: lang, in: path, required: true, schema: { $ref: '#/components/schemas/Lang' } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [body]
              additionalProperties: false
              properties:
                body: { type: string, minLength: 1, maxLength: 1024 }
                subject: { type: string, maxLength: 200 }
                active: { type: boolean }
                metaTemplateName: { type: [string, 'null'], maxLength: 512, description: Plantilla aprobada por Meta (modo automático fuera de la ventana de 24 horas) }
                metaTemplateLang: { type: [string, 'null'], maxLength: 10, example: es }
      responses:
        '200':
          description: Guardada
          content:
            application/json:
              schema: { $ref: '#/components/schemas/MessageTemplate' }
        '422': { $ref: '#/components/responses/Problem' }
        '4XX': { $ref: '#/components/responses/Problem' }
  /message-templates/preview:
    post:
      tags: [messaging]
      operationId: previewTemplate
      summary: Vista previa en vivo con los datos de un préstamo real, contador de caracteres y validador
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [event]
              additionalProperties: false
              properties:
                event: { $ref: '#/components/schemas/MessageEvent' }
                lang: { $ref: '#/components/schemas/Lang' }
                loanId: { type: string, format: uuid }
                body: { type: string, maxLength: 2048 }
                subject: { type: string, maxLength: 400 }
      responses:
        '200':
          description: Texto final
          content:
            application/json:
              schema:
                type: object
                required: [lang, body, subject, length, variables, issues]
                properties:
                  lang: { $ref: '#/components/schemas/Lang' }
                  body: { type: string }
                  subject: { type: string }
                  length: { type: integer }
                  variables: { type: array, items: { type: string } }
                  issues: { type: array, items: { $ref: '#/components/schemas/TemplateIssue' } }
        '4XX': { $ref: '#/components/responses/Problem' }

  /compliance/rate-caps:
    get:
      tags: [compliance]
      operationId: listRateCaps
      summary: Topes legales de tasa registrados
      responses:
        '200':
          description: Topes
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/RateCap' }
        '4XX': { $ref: '#/components/responses/Problem' }
    post:
      tags: [compliance]
      operationId: addRateCap
      summary: Registrar el tope vigente (en Colombia, la tasa de usura certificada)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/RateCap' }
      responses:
        '201':
          description: Registrado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/RateCap' }
        '409': { $ref: '#/components/responses/Problem' }
  /compliance/contact-rules:
    get:
      tags: [compliance]
      operationId: getContactRules
      summary: Reglas de contacto vigentes (§11.4) y presets disponibles
      responses:
        '200':
          description: Reglas
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ContactRules' }
        '4XX': { $ref: '#/components/responses/Problem' }
    put:
      tags: [compliance]
      operationId: saveContactRules
      summary: Elegir el preset, registrar la revisión legal (Propietario) y la hora de los recordatorios
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                preset: { type: string, enum: [CO_LEY_2300_2023, BR_CDC_TEMPLATE, US_FDCPA_REG_F_TEMPLATE] }
                counselReviewed: { type: boolean, description: El asesor legal revisó el preset (obligatorio fuera de Colombia) }
                transactionalImmediate: { type: boolean }
                reminderTime: { type: string, pattern: '^([01][0-9]|2[0-3]):[0-5][0-9]$' }
                dailyReminders: { type: boolean }
      responses:
        '200':
          description: Reglas aplicadas
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ContactRules' }
        '4XX': { $ref: '#/components/responses/Problem' }
  /compliance/contact-evaluation:
    post:
      tags: [compliance]
      operationId: evaluateContact
      summary: Simular la decisión del motor de reglas de contacto (§11.4) en la hora local del deudor
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [clientId, kind, channel, requestedAt]
              properties:
                clientId: { type: string, format: uuid }
                kind: { type: string, enum: [collection, transactional] }
                channel: { $ref: '#/components/schemas/Channel' }
                requestedAt: { type: string, format: date-time }
      responses:
        '200':
          description: Decisión
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ContactDecision' }
        '4XX': { $ref: '#/components/responses/Problem' }

  /dashboard:
    get:
      tags: [dashboard]
      operationId: getDashboard
      summary: Indicadores del dashboard (§17)
      parameters:
        - { name: currency, in: query, schema: { $ref: '#/components/schemas/Currency' } }
        - { name: collectorId, in: query, schema: { type: string, format: uuid } }
        - { name: days, in: query, schema: { type: integer, minimum: 7, maximum: 90, default: 30 }, description: Días de la tendencia de recaudo }
      responses:
        '200':
          description: Indicadores
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Dashboard' }
        '4XX': { $ref: '#/components/responses/Problem' }
  /collections/today:
    get:
      tags: [dashboard]
      operationId: todayCollections
      summary: Cobros de hoy (§5.7-4)
      description: Cuotas que vencen hoy y vencidas, ordenadas por días de mora.
      parameters:
        - { name: collectorId, in: query, schema: { type: string, format: uuid } }
        - { name: limit, in: query, schema: { type: integer, minimum: 1, maximum: 1000, default: 500 } }
      responses:
        '200':
          description: Cobros
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TodayCollections' }
        '4XX': { $ref: '#/components/responses/Problem' }
  /reports:
    post:
      tags: [reports]
      operationId: requestReport
      summary: Generar un informe (§18) en PDF, XLSX o CSV, en el idioma elegido
      description: Se genera en segundo plano y queda en el repositorio (carpeta `_Informes`). Montos agrupados por moneda; nunca se suman monedas distintas.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ReportRequest' }
      responses:
        '202':
          description: Tarea en cola
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Task' }
        '4XX': { $ref: '#/components/responses/Problem' }
  /events:
    get:
      tags: [dashboard]
      operationId: events
      summary: Eventos en tiempo real (Server-Sent Events)
      responses:
        '200':
          description: 'Flujo `text/event-stream` con `ready`, `ping` (cada 25 s), `payment.posted`, `payment.reversed`, `loan.created`, `document.created` (el Cobrador solo los de sus clientes), `dashboard.changed`, `intake.updated` (el Cobrador solo los de sus clientes) y `security.lockout` (solo Propietario y Administrador); en la Fase 4, `message.updated`'
          content:
            text/event-stream: {}
        '4XX': { $ref: '#/components/responses/Problem' }

  /backups:
    post:
      tags: [backup]
      operationId: createBackup
      summary: Crear respaldo cifrado `.coroc` (§19). Se genera por flujo en segundo plano
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [password]
              additionalProperties: false
              properties:
                password: { type: string, format: password, minLength: 10, maxLength: 200 }
      responses:
        '202':
          description: En proceso; seguir con `GET /backups/{id}`
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Backup' }
        '4XX': { $ref: '#/components/responses/Problem' }
    get:
      tags: [backup]
      operationId: listBackups
      summary: Respaldos de la empresa
      responses:
        '200':
          description: Respaldos, del más reciente al más antiguo
          content:
            application/json:
              schema: { type: array, items: { $ref: '#/components/schemas/Backup' } }
        '4XX': { $ref: '#/components/responses/Problem' }
  /backups/{id}:
    get:
      tags: [backup]
      operationId: getBackup
      summary: Estado y avance del respaldo
      parameters: [{ $ref: '#/components/parameters/Id' }]
      responses:
        '200':
          description: Respaldo
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Backup' }
        '4XX': { $ref: '#/components/responses/Problem' }
  /backups/{id}/cancel:
    post:
      tags: [backup]
      operationId: cancelBackup
      summary: Cancelar un respaldo en curso
      parameters: [{ $ref: '#/components/parameters/Id' }]
      responses:
        '200':
          description: Respaldo
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Backup' }
        '4XX': { $ref: '#/components/responses/Problem' }
  /backups/{id}/link:
    post:
      tags: [backup]
      operationId: createBackupLink
      summary: Enlace firmado para descargar el `.coroc` (admite `Range`, reanudable)
      parameters: [{ $ref: '#/components/parameters/Id' }]
      responses:
        '200':
          description: Enlace
          content:
            application/json:
              schema: { $ref: '#/components/schemas/FileLink' }
        '4XX': { $ref: '#/components/responses/Problem' }
  /restores:
    post:
      tags: [backup]
      operationId: uploadRestore
      summary: Subir un `.coroc` para restaurar (solo Propietario). El cuerpo es el archivo
      requestBody:
        required: true
        content:
          application/octet-stream:
            schema: { type: string, contentMediaType: application/octet-stream }
      responses:
        '201':
          description: Archivo recibido; aún no se ha verificado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Restore' }
        '4XX': { $ref: '#/components/responses/Problem' }
  /restores/{id}/verify:
    post:
      tags: [backup]
      operationId: verifyRestore
      summary: Verificar integridad y versión y simular (§19) sin cambiar nada
      parameters: [{ $ref: '#/components/parameters/Id' }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [password]
              additionalProperties: false
              properties:
                password: { type: string, format: password, minLength: 1, maxLength: 200 }
      responses:
        '200':
          description: Resumen de lo que se restauraría
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Restore' }
        '4XX': { $ref: '#/components/responses/Problem' }
  /restores/{id}/apply:
    post:
      tags: [backup]
      operationId: applyRestore
      summary: Restauración atómica; reemplaza todos los datos de la empresa
      description: Exige la contraseña del respaldo y escribir el nombre de la empresa. Si algo falla, no cambia nada.
      parameters: [{ $ref: '#/components/parameters/Id' }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [password, confirmName]
              additionalProperties: false
              properties:
                password: { type: string, format: password, minLength: 1, maxLength: 200 }
                confirmName: { type: string, minLength: 1, maxLength: 200 }
      responses:
        '200':
          description: Restauración completada
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Restore' }
        '4XX': { $ref: '#/components/responses/Problem' }

  /public/upload/{token}:
    get:
      tags: [public]
      operationId: debtorPortal
      summary: Portal del deudor — plan de pagos del préstamo del enlace (§12.3)
      description: Con `Accept text/html` responde la página (sin JavaScript, en el idioma del deudor); si no, JSON.
      security: []
      parameters:
        - { name: token, in: path, required: true, schema: { type: string, pattern: '^[A-Za-z0-9_-]{16,64}$' } }
        - { name: lang, in: query, schema: { type: string, enum: [es, pt, pt-BR, en] } }
        - { name: sent, in: query, schema: { type: string } }
        - { name: dup, in: query, schema: { type: string } }
        - { name: optedOut, in: query, schema: { type: string } }
      responses:
        '200':
          description: Resumen visible para el deudor
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PortalView' }
        '404': { $ref: '#/components/responses/Problem' }
        '410': { $ref: '#/components/responses/Problem' }
    post:
      tags: [public]
      operationId: debtorUpload
      summary: El deudor sube su comprobante; el enlace identifica al remitente
      description: Desde la página responde 303 hacia el portal con el aviso de recibido; con `Accept application/json`, 202.
      security: []
      parameters:
        - { name: token, in: path, required: true, schema: { type: string, pattern: '^[A-Za-z0-9_-]{16,64}$' } }
        - { name: lang, in: query, schema: { type: string, enum: [es, pt, pt-BR, en] } }
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file]
              properties:
                file: { type: string, contentMediaType: application/octet-stream }
                note: { type: string, maxLength: 500 }
          application/octet-stream:
            schema: { type: string, contentMediaType: application/octet-stream }
      responses:
        '202':
          description: Recibido
          content:
            application/json:
              schema:
                type: object
                required: [id, status, duplicate]
                properties:
                  id: { type: string, format: uuid }
                  status: { $ref: '#/components/schemas/IntakeStatus' }
                  duplicate: { type: boolean, description: El mismo archivo ya se había recibido por este enlace }
        '303': { description: Vuelve al portal con el aviso de recibido }
        '4XX': { $ref: '#/components/responses/Problem' }
  /public/upload/{token}/opt-out:
    post:
      tags: [public]
      operationId: debtorOptOut
      summary: El deudor deja de recibir mensajes (§20.1), desde el portal o con el enlace de baja del correo
      description: |
        Revoca de inmediato el consentimiento de los canales pedidos (`channel`: `whatsapp`, `email` o `all`) y bloquea lo
        pendiente. Acepta el formulario del portal (303 de vuelta al portal) y la baja con un clic de los programas de correo
        (RFC 8058, cuerpo `List-Unsubscribe=One-Click`, 200).
      security: []
      parameters:
        - { name: token, in: path, required: true, schema: { type: string, pattern: '^[A-Za-z0-9_-]{16,64}$' } }
        - { name: lang, in: query, schema: { type: string, enum: [es, pt, pt-BR, en] } }
        - { name: channel, in: query, schema: { type: string, enum: [whatsapp, email, all] } }
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                channel: { type: string, enum: [whatsapp, email, all] }
                List-Unsubscribe: { type: string, enum: [One-Click] }
      responses:
        '200':
          description: Baja registrada
          content:
            application/json:
              schema:
                type: object
                required: [optedOut]
                properties:
                  optedOut: { type: array, items: { $ref: '#/components/schemas/Channel' } }
        '303': { description: Vuelve al portal con el aviso }
        '4XX': { $ref: '#/components/responses/Problem' }
  /public/receipts/{code}:
    get:
      tags: [public]
      operationId: verifyReceipt
      summary: Verificar la autenticidad de un recibo (código QR, §15)
      description: Con `Accept text/html` responde una página para el navegador del celular; si no, JSON. No revela el nombre del deudor.
      security: []
      parameters: [{ name: code, in: path, required: true, schema: { type: string, pattern: '^[0-9A-Fa-f]{16}$' } }]
      responses:
        '200':
          description: Recibo auténtico
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ReceiptVerification' }
        '404':
          description: No existe un recibo con ese código
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ReceiptVerification' }
        '429': { $ref: '#/components/responses/Problem' }

  /public/privacy:
    get:
      tags: [public]
      operationId: privacyPolicy
      summary: Política de privacidad pública (la enlazan Google Play, App Store, la app y el portal)
      description: Con `Accept text/html` responde la página; si no, JSON. Idioma por `lang` o por Accept-Language.
      security: []
      parameters:
        - { name: lang, in: query, schema: { $ref: '#/components/schemas/Lang' } }
      responses:
        '200':
          description: Política vigente
          content:
            application/json:
              schema:
                type: object
                required: [version, lang, title, updated, intro, sections]
                properties:
                  version: { type: string, format: date }
                  lang: { $ref: '#/components/schemas/Lang' }
                  title: { type: string }
                  updated: { type: string }
                  intro: { type: string }
                  sections:
                    type: array
                    items:
                      type: object
                      required: [h, p]
                      properties:
                        h: { type: string }
                        p: { type: array, items: { type: string } }
        '4XX': { $ref: '#/components/responses/Problem' }

  /webhooks/whatsapp:
    get:
      tags: [webhooks]
      operationId: whatsappVerify
      summary: Verificación del webhook de WhatsApp Cloud API (modo A)
      security: []
      parameters:
        - { name: hub.mode, in: query, required: true, schema: { type: string } }
        - { name: hub.verify_token, in: query, required: true, schema: { type: string } }
        - { name: hub.challenge, in: query, required: true, schema: { type: string } }
      responses:
        '200':
          description: Devuelve `hub.challenge`
          content:
            text/plain: {}
        '403': { description: Token inválido }
    post:
      tags: [webhooks]
      operationId: whatsappEvents
      summary: Mensajes y estados entrantes (firma `X-Hub-Signature-256` obligatoria)
      description: |
        Se verifica la firma HMAC-SHA256 con el secreto de la app (`COROC_WHATSAPP_APP_SECRET`), se reconoce la empresa
        por el número que recibió el mensaje, se deduplica por id de mensaje y los medios (imagen o PDF) se descargan de
        inmediato porque su URL caduca en minutos. La lectura sigue en cola. También llegan los estados de entrega
        (enviado, entregado, leído, fallido), los mensajes de texto (ventana de 24 horas y exclusión con SALIR, SAIR o STOP)
        y los avisos de la cuenta (`account_update`: una suspensión pasa la empresa al modo asistido, CA-20) y de las
        plantillas (`message_template_status_update`).
      security: []
      parameters:
        - { name: X-Hub-Signature-256, in: header, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema: { type: object }
      responses:
        '200':
          description: Aceptado
          content:
            application/json:
              schema:
                type: object
                properties:
                  received: { type: integer }
        '401': { $ref: '#/components/responses/Problem' }
        '404': { $ref: '#/components/responses/Problem' }
  /webhooks/email/inbound:
    post:
      tags: [webhooks]
      operationId: emailInbound
      summary: Correos entrantes del buzón de pagos de la empresa (adjuntos JPG, PNG, HEIC, PDF)
      description: |
        Formato JSON de Postmark (`FromFull`, `ToFull`, `MessageID`, `Attachments[].Content` en base64). La empresa se
        reconoce por la dirección `pagos-<empresa>@<COROC_INBOUND_EMAIL_DOMAIN>` y el remitente por su correo. El secreto
        va en `?token=` o como contraseña de autenticación básica. Los adjuntos que no son imagen ni PDF se ignoran.
      security:
        - webhookSecret: []
      parameters:
        - { name: token, in: query, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema: { type: object }
      responses:
        '200':
          description: Aceptado
          content:
            application/json:
              schema:
                type: object
                properties:
                  received: { type: integer }
                  ignored: { type: string }
        '4XX': { $ref: '#/components/responses/Problem' }
  /webhooks/email/events:
    post:
      tags: [webhooks]
      operationId: emailEvents
      summary: Avisos del correo saliente — entrega, rebote y queja (formato de los webhooks de Postmark)
      description: |
        Un rebote duro marca la dirección como inválida en la ficha del cliente y ya no se usa; una queja por correo no
        deseado lo excluye del correo (§11.2, §20.1). El secreto (`COROC_EMAIL_EVENTS_SECRET`) va en `?token=` o como
        contraseña de autenticación básica.
      security:
        - webhookSecret: []
      parameters:
        - { name: token, in: query, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema: { type: [object, array] }
      responses:
        '200':
          description: Aceptado
          content:
            application/json:
              schema:
                type: object
                properties:
                  matched: { type: integer }
        '4XX': { $ref: '#/components/responses/Problem' }

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Token de acceso de 15 minutos ligado al dispositivo.
    webhookSecret:
      type: apiKey
      in: header
      name: X-COROC-Webhook-Secret
  parameters:
    Id:
      name: id
      in: path
      required: true
      schema: { type: string, format: uuid }
    IfMatch:
      name: If-Match
      in: header
      required: false
      description: Versión conocida del recurso (concurrencia optimista)
      schema: { type: string }
    IdempotencyKey:
      name: Idempotency-Key
      in: header
      required: false
      schema: { type: string, maxLength: 128 }
    Cursor:
      name: cursor
      in: query
      schema: { type: string }
    Limit:
      name: limit
      in: query
      schema: { type: integer, minimum: 1, maximum: 200, default: 50 }
  responses:
    Problem:
      description: Error (RFC 9457)
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/Problem' }
  schemas:
    Problem:
      type: object
      required: [type, title, status]
      properties:
        type: { type: string, format: uri-reference }
        title: { type: string }
        status: { type: integer }
        detail: { type: string }
        code:
          type: string
          description: Código estable, p. ej. RATE_CAP_EXCEEDED, DUPLICATE_RECEIPT, CONTACT_RULE_BLOCKED, VERSION_CONFLICT
        errors:
          type: array
          items:
            type: object
            properties:
              field: { type: string }
              message: { type: string }
    Minor:
      type: integer
      format: int64
      description: Monto en unidades mínimas de la moneda
    Currency: { type: string, enum: [COP, BRL, USD] }
    Lang: { type: string, enum: [es, pt-BR, en] }
    Role: { type: string, enum: [owner, admin, collector, auditor] }
    Frequency: { type: string, enum: [daily, weekly, monthly] }
    Channel: { type: string, enum: [whatsapp, email] }
    DocKind: { type: string, enum: [plan, schedule, receipt_in, receipt_out, statement, payoff, other, report] }
    IntakeStatus: { type: string, enum: [processing, review, unassigned, applied_auto, approved, duplicate, rejected, archived, failed] }
    MessageStatus: { type: string, enum: [ready, scheduled, sent, delivered, read, failed, blocked, cancelled] }
    MessageEvent: { type: string, enum: [welcome, reminder, overdue, receipt, statement, payoff, manual] }
    Session:
      type: object
      required: [accessToken, refreshToken, expiresIn, user, company, mfaEnrollmentRequired]
      properties:
        accessToken: { type: string }
        refreshToken: { type: string, description: 'Opaco y rotativo; ligado al dispositivo' }
        expiresIn: { type: integer, example: 900 }
        mfaEnrollmentRequired: { type: boolean, description: 'El Propietario debe activar el segundo factor antes de continuar' }
        user: { $ref: '#/components/schemas/User' }
        company:
          type: object
          properties:
            id: { type: string, format: uuid }
            slug: { type: string }
            name: { type: string }
            currency: { $ref: '#/components/schemas/Currency' }
            country: { type: string, enum: [CO, BR, US] }
            timezone: { type: string }
            lang: { $ref: '#/components/schemas/Lang' }
    MfaEnrollment:
      type: object
      required: [secret, otpauthUri]
      properties:
        secret: { type: string, description: Secreto en Base32 para escribirlo a mano }
        otpauthUri: { type: string, description: 'URI otpauth:// para mostrar como código QR' }
    SessionInfo:
      type: object
      properties:
        id: { type: string, format: uuid }
        deviceId: { type: string }
        deviceName: { type: [string, 'null'] }
        createdAt: { type: string, format: date-time }
        lastUsedAt: { type: string, format: date-time }
        current: { type: boolean }
    User:
      type: object
      properties:
        id: { type: string, format: uuid }
        username: { type: string }
        name: { type: string }
        email: { type: [string, 'null'] }
        role: { $ref: '#/components/schemas/Role' }
        lang: { $ref: '#/components/schemas/Lang' }
        theme: { type: string, enum: [system, light, dark] }
        active: { type: boolean }
        mfaEnabled: { type: boolean }
        autoLockMinutes: { type: integer }
        lastLoginAt: { type: [string, 'null'], format: date-time }
        permissions: { type: array, items: { type: string } }
    Company:
      type: object
      properties:
        id: { type: string, format: uuid }
        slug: { type: string, description: Identificador corto con el que se ingresa }
        name: { type: string }
        taxId: { type: [string, 'null'] }
        phone: { type: [string, 'null'] }
        email: { type: [string, 'null'] }
        address: { type: [string, 'null'] }
        city: { type: [string, 'null'] }
        country: { type: string, enum: [CO, BR, US] }
        currency: { $ref: '#/components/schemas/Currency' }
        timezone: { type: string, example: America/Bogota }
        lang: { $ref: '#/components/schemas/Lang' }
        settings: { $ref: '#/components/schemas/CompanySettings' }
        version: { type: integer }
    CompanyPatch:
      type: object
      properties:
        name: { type: string }
        taxId: { type: string }
        phone: { type: string }
        email: { type: string, format: email }
        address: { type: string }
        city: { type: string }
        timezone: { type: string }
        lang: { $ref: '#/components/schemas/Lang' }
        settings: { $ref: '#/components/schemas/CompanySettings' }
    CompanySettings:
      type: object
      properties:
        supervisionMode: { type: string, enum: [auto_with_audit, prior_approval] }
        confidenceThreshold: { type: number, minimum: 0.8, maximum: 1 }
        maxReceiptAgeDays: { type: integer }
        autoRevertHours: { type: integer }
        contactRules: { type: boolean }
        transactionalImmediate: { type: boolean }
        whatsappMode: { type: string, enum: [assisted, cloud_api] }
        roundingUnit: { $ref: '#/components/schemas/Minor' }
        reminderTime: { type: string, pattern: '^[0-2][0-9]:[0-5][0-9]$' }
        dailyReminders: { type: boolean }
        messageEvents:
          type: object
          description: Cada mensaje automático se activa o desactiva por separado y elige sus canales (§11.3)
          additionalProperties: false
          patternProperties:
            '^(welcome|reminder|overdue|receipt|statement|payoff)$':
              type: object
              additionalProperties: false
              properties:
                enabled: { type: boolean }
                channels: { type: array, uniqueItems: true, items: { $ref: '#/components/schemas/Channel' } }
        prefixes:
          type: object
          properties:
            client: { type: string }
            contract: { type: string }
            receipt: { type: string }
    ReceivingAccount:
      type: object
      required: [holderName]
      properties:
        id: { type: string, format: uuid, readOnly: true }
        holderName: { type: string }
        institution: { type: string }
        last4: { type: string, pattern: '^[0-9]{4}$' }
        active: { type: boolean, readOnly: true }
    ClientInput:
      type: object
      required: [firstName, lastName, phone]
      properties:
        firstName: { type: string, minLength: 1, maxLength: 80 }
        lastName: { type: string, minLength: 1, maxLength: 80 }
        phone: { type: string, minLength: 7, maxLength: 20, description: Se normaliza a E.164 }
        phone2: { type: [string, 'null'], maxLength: 20 }
        email: { type: [string, 'null'], format: email }
        address: { type: [string, 'null'], maxLength: 200 }
        city: { type: [string, 'null'], maxLength: 80 }
        idDocType: { type: [string, 'null'], maxLength: 20 }
        idDocNumber: { type: [string, 'null'], maxLength: 30 }
        lang: { $ref: '#/components/schemas/Lang' }
        timezone: { type: [string, 'null'], maxLength: 60, description: 'Zona horaria del deudor para las reglas de contacto; vacía: la de la empresa' }
        collectorId: { type: [string, 'null'], format: uuid }
        coDebtor:
          type: [object, 'null']
          properties:
            name: { type: string, maxLength: 120 }
            phone: { type: string, maxLength: 20 }
            email: { type: string, format: email }
        notes: { type: [string, 'null'], maxLength: 2000 }
        consents:
          type: array
          items: { $ref: '#/components/schemas/ConsentInput' }
    Client:
      type: object
      properties:
        id: { type: string, format: uuid }
        code: { type: string, example: C000042 }
        firstName: { type: string }
        lastName: { type: string }
        fullName: { type: string }
        phone: { type: string }
        phoneE164: { type: string }
        phone2: { type: [string, 'null'] }
        email: { type: [string, 'null'] }
        address: { type: [string, 'null'] }
        city: { type: [string, 'null'] }
        idDocType: { type: [string, 'null'] }
        idDocNumber: { type: [string, 'null'] }
        lang: { $ref: '#/components/schemas/Lang' }
        collectorId: { type: [string, 'null'], format: uuid }
        coDebtor:
          type: [object, 'null']
          properties:
            name: { type: string }
            phone: { type: string }
            email: { type: string }
        notes: { type: [string, 'null'] }
        folderName: { type: string, example: Maria Jose Perez Gomez - C000042 }
        consents:
          type: array
          items: { $ref: '#/components/schemas/Consent' }
        loans:
          type: array
          items: { $ref: '#/components/schemas/Loan' }
        timezone: { type: [string, 'null'] }
        emailStatus: { type: [string, 'null'], enum: [bounced, complained, null], description: El correo rebotó o el deudor lo marcó como no deseado }
        contactException: { oneOf: [{ $ref: '#/components/schemas/ContactException' }, { type: 'null' }] }
        createdAt: { type: string, format: date-time }
        version: { type: integer }
    ClientListItem:
      type: object
      properties:
        id: { type: string, format: uuid }
        code: { type: string }
        fullName: { type: string }
        phone: { type: string }
        contracts: { type: array, items: { type: string } }
        frequency: { oneOf: [{ $ref: '#/components/schemas/Frequency' }, { type: 'null' }] }
        next: { $ref: '#/components/schemas/NextInstallment' }
        balance: { $ref: '#/components/schemas/Minor' }
[...]
